.app {
  main {
    padding: 10px;
    height: calc(100vh - 58px);
    display: flex;
    gap: 10px;

    .todo-list-container{
      width: 25%;
    }

    .displayed-todo {
      width: 75%;
    }
  }
}
